  

  @font-face {
font-family: BebasNeue;
src: url("fonts/BebasNeue.otf") format("opentype");
}


body {
	background-color: #3D3F40;
}


#menu {
	padding: 20px;

}

.menu-style {
	font-size: 30px;
	font-family: 'Oswald', sans-serif;
	line-height: 1.5;
	padding: 30px;


}


.highlight {
  background-color: #F0E752; 

}


.btn-default {
  background-color: transparent;
  border-color: transparent;
  z-index: 10;
}

.btn-default:hover {
  background-color: transparent;
  border-color: transparent;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-color: transparent;
  border-color: transparent;
  color: #F0E752;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  background-color: transparent;
  border-color: transparent;
  color: #F0E752;
}
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus {
  background-color: transparent;
  border-color: transparent;
  color: #F0E752;
}


.btn-hambig {
font-size: 40px;
color: #fff;
 -webkit-transition: color 500ms ease-out 500ms;
}

.btn-hambig:hover {
color: #F0E752;

}


.navbar-default {
	background-color: transparent;
	color: #fff;
	border: none;

}



.navbar-default .navbar-text {
  color: #fff;
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-default .navbar-nav > .disabled > a,
.navbar-default .navbar-nav > .disabled > a:hover,
.navbar-default .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}











.beacons-img{
	margin-top: -80px;
	padding: 20px 50px 50px 50px;
	max-height: 600px;
	display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: -10;
}



.wahl-felder {
	font-size: 1.8em;
	font-family: 'Oswald', sans-serif;
	color: #fff;
	text-align: center;
}

@media (max-width: 767px) {

 .wahl-felder {
	font-size: 1.2em;
}
}



.wahl-felder a {
	color: #fff;
	text-decoration: none;
}




.flat-icon {
	display: block;
    margin-left: auto;
    margin-right: auto;
    border-color: #fff;
    border: 2px;
  


}

.runde-icons {
   border-radius: 50%;
   padding: 20px;
   width: 100px;
   height: 100px;
   border: 3px solid;
   border-color: #fff;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 10px;
}

@media (min-width: 768px) {
  .runde-icons {
   padding: 30px;
   width: 170px;
   height: 170px;
}
}

.space {
	margin-bottom: 20px;
}

.zoom-hover:hover {
-webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.05);
}




@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }


